<header class="header">
  <mat-toolbar color="primary" class="header__row">
    <div class="header__column">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span class="header__title">Rizitka</span>
    </div>

    <div class="header__column">
      <input type="search" [(ngModel)]="searchValue" class="header__input">
    </div>

    <div class="header__column">
      <div class="header__icons">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>supervised_user_circle</mat-icon>
        </button>
      </div>
    </div>


  </mat-toolbar>
</header>
