<header class="header">
  <mat-toolbar color="primary" class="header__row">
    <div class="header__column">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span class="header__title">Rizitka</span>
    </div>

    <div class="header__column">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" [(ngModel)]="searchValue" class="header__input">
      </mat-form-field>
    </div>

    <div class="header__column">
      <div class="header__icons">
        <button (click)="openDialog('0ms', '0ms')" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
