:host {
  flex: 0 0 20%;

  .filter-criterion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-height: 300px;
    overflow: auto;

    mat-checkbox {
      flex-shrink: 0;
    }
  }
}

.mat-checkbox {
  display: block;
  height: 50px;
}

::ng-deep span.mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}


